*{
    margin: 0;
    padding: 0;
}

body{
    font-family: bai-jamjuree, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: bai-jamjuree, sans-serif;
    font-weight: 600;
    font-style: normal;

    margin: 20px;
}

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100vw;
    min-height: 50px;
    background-color: lightgrey;
}
.recent_scroll{
    width: 100%;

    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;

}
.recent_scroll::-webkit-scrollbar{
    display: none;
}
.recent{
    margin-left: 20px;

    min-width: 150px;
    height: 150px;
    background-color: gray;

    border-radius: 20px;

}
.recent_scroll .recent:last-child{
    margin-right: 20px;
}

.projectcontainer{
    padding: 20px;
}
.project{
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    background-color: lightblue;

    border-radius: 20px;
}
.projectcontainer .project:last-child{
    margin-bottom: 50px;
}

.result{
    position: absolute;
    top: 80vh;

    width: 100%;
    height: 50px;
    background-color: red;
}